<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); -%>
<body>
    
    <%- include('../views/partials/header'); -%>

    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner-de-ofertas">
    </section>

    <main>
        <div class="productos">
        <h2>BASADO EN TU ULTIMA VISITA</h2>

        <section class="last-visit">
            <% productos.forEach(producto => { %>
            <article>
                <a href="/products/<%= producto.id %>"><img src="<%= producto.image %>" alt="<%= producto.name %>"></a>
                <div class="product-article">
                <i class="fas fa-truck"></i>
                <p class="precio">$<%= producto.price %></p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion"><%= producto.name %></p>
                </div>
            </article>
            <% }); %>
        </section>

        <h2>OFERTAS</h2>
        <section class="offers">
            <% productos.forEach(producto => { %>
                <article>
                    <a href="/products/<%= producto.id %>"><img src="<%= producto.image %>" alt="<%= producto.name %>"></a>
                    <div class="product-article">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$<%= producto.price %></p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion"><%= producto.name %></p>
                    </div>
                </article>
                <% }); %>
        </section>
        </div>
    </main>

    <%- include('../views/partials/footer'); -%>
    
</body>
</html>
