<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); -%>
<body>
    <%- include('../views/partials/header'); -%>

    <h1><%= product.name %></h1>
    <div class="products-detail">
        <img src="/images/<%= product.image %>" alt="<%= product.name %>">
        <p><strong>Descripción:</strong> <%= product.description %></p>
        <p><strong>Categoría:</strong> <%= categories.name %></p>
        <p><strong>Colores disponibles:</strong> <%= product.colors %></p>
        <p><strong>Precio:</strong> $<%= product.price %></p>
    </div>
    <div class="btn-eliminate">
    <a class="link-productList" href="/products">Volver a la lista de productos</a>
    <a class="link-productList" href="/products/<%= product.id %>/edit">Modificar Producto</a>
    <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
        <button class="link-productList" type="submit">Eliminar Producto</button>
    </form>
    </div>

    <%- include('../views/partials/footer'); -%>
</body>
</html>