<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); -%>
<body>
    <%- include('../views/partials/header'); -%>

    <div class="product-carga">
        <a href="/products/create"><p> Cargar Nuevo Producto</p></a>
    </div>

    <h2 class="title-list-product">LISTA DE PRODUCTOS</h2>

    <div class="products-container">
        <% products.forEach(product => { %>
            <div class="product-card">
                <h2><%= product.name %></h2>
                <a href="/products/<%= product.id %>"><img src="/images/<%= product.image %>" alt="<%= product.name %>"></a>
                <p><%= product.description %></p>
                <p>Categoría: <%= product.category %></p>
                <p>Colores disponibles: <%= product.colors %></p>
                <p>Precio: $<%= product.price %></p>
            </div>
        <% }); %>
    </div>

    <%- include('../views/partials/footer'); -%>
</body>
</html>