<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); -%>
<body>
    
    <%- include('../views/partials/header'); -%>


<main>
    <div class="formulario">
        <h1>MODIFICAR PRODUCTO</h1>
        <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="input">
                <input type="text" name="name" id="name" value="<%= product.name %>" placeholder="Nombre Del Producto" required>
            </div>

            <div class="input">
                <input type="text" name="description" id="description" value="<%= product.description %>" placeholder="Descripción" required>
            </div>

            <div class="input">
                <input type="file" name="image" id="image" placeholder="Imagen" required>
            </div>

            <select class="input" name="category_id" required>
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                <% }); %>
            </select>

            <div class="input">
                <input type="text" name="colors" id="colors" value="<%= product.colors %>" placeholder="Color" required>
            </div>

            <div class="input">
                <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>" placeholder="Precio" required>
            </div>

            <div class="botones">
                <button type="submit">Guardar Cambios</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </div>
</main>

<%- include('../views/partials/footer'); -%>
    
</body>
</html>